<div class="container maincontent">
  <h2 class="display-3">Sitio conectado &nbsp;
    <small class="text-muted">
      <button class="btn btn-sm btn-outline-dark" (click)="showInfo()"><fa-icon [icon]="faQuestionCircle"></fa-icon></button>
      <a [href]="docReference" download="SITIO_CONECTADO.csv" class="btn btn-sm btn-outline-dark"><fa-icon [icon]="faFile"></fa-icon></a>
    </small>
  </h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">CRQ</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="crqModel" [ngClass]="crqClass" placeholder="CRQ" minlength="15" maxlength="15" (ngModelChange)="validaCRQ()">
            <div class="valid-feedback">
              CRQ valido!
            </div>
            <div class="invalid-feedback">
              CRQ invalido!
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Archivo</label>
          <div class="col-sm-10">
            <input type="file" [ngClass]="fileClass" (click)="restauraValores()" (change)="fileChargue($event)">
            <div class="valid-feedback">
              Archivo valido!
            </div>
            <div class="invalid-feedback">
              Archivo invalido!
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-right">
            <button (click)="conectSitios()" class="btn btn-outline-dark btn-sm" *ngIf="fileValid && crqValid">Conexión de sitios</button>
          </div>
        </div>
      </div>
      <div class="col">
        OPERACIONES:
        <div class="console">          
          <div *ngIf="validaCR">
            {{ validaCRtext }}
            <div class="progress">
              <div [ngClass]="validaCRclass" role="progressbar" [ngStyle]="{ 'width': validaCRcarga + '%' }" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <hr>
          </div>
          <div *ngIf="validaDoc">
            {{ validaArctext }}
            <div class="progress">
              <div [ngClass]="validaArcclass" role="progressbar" [ngStyle]="{ 'width': validaArccarga + '%' }" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="logArch" [innerHTML]="validaArcLog"></div>
            <hr>
          </div>
          <app-site-conect *ngFor="let site of sitios; let index" (init)="siteInit($event)" (validate)="siteValidate($event)" (finish)="siteFinish($event)" (report)="siteReport($event)" [site]="site"></app-site-conect>
        </div>
        <button class="btn btn-sm btn-outline-dark" (click)="showReport()">Reporte <div *ngIf="!reportVisible"> actual</div></button>
      </div>
    </div>
  </div>
</div>
<app-informacion></app-informacion>
<app-alerta></app-alerta>