.console{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 6px;
    padding: 10px;
    overflow: scroll;
    max-height: 65vh;
    overflow-y: scroll;
}

hr{
    margin-top: 3px;
    margin-bottom: 3px;
}

.logArch{
    max-height: 200px;
    overflow: scroll;
}