<div class="container-fluid controles">
  <h4 class="d-inline">Controles</h4>
  <button class="d-inline btn btn-dark btn-sm float-right start">Comenzar</button>
</div>

<div class="container-fluid lienzo">
  <div class="row">
    <div class="col">
      <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col">
      OPERACIONES:
      <div class="console">
        <div class="bars" *ngFor="let bar of bars">
          <div class="barContainer" *ngIf="bar.show">
            {{ bar.title }}
            <div class="progress">
              <div [ngClass]="bar.class + ' progress-bar'" role="progressbar" [ngStyle]="{ 'width': bar.carga + '%', 'background-color': bar.color + '' }" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="diagrama">
    
  </div>
</div>