.lienzo{
    height: 78vh;
    width: 90vw;
    margin-left: 5vw;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: #fcfcfc;
    overflow-y: scroll;
    overflow-x: hidden;
}

.controles{
    width: 90vw;
    height: 5vh;
    margin-bottom: 1vh;
    margin-left: 5vw;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: #fcfcfc;
}