<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Pagina de gestión de sitios</h1>
    <p class="lead">Bienvenido a la pagina de gestión de sitios, desde esta pagina podras cambiar las configuraciones de sitios, ademas de crearlos y gestionar las conexiones entre ellos, lee las guias rapidas de cada pestaña del sitio para conocer las nuevas funciones del sistema y como usar sus formularios</p>
    <hr class="">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>